absl-py==1.0.0
imageio==2.16.2
mediapy==1.0.3
pandas==1.4.2
numpy==1.22.3
urllib3==1.26.7
tqdm==4.64.0
opencv-python-headless==4.5.5.64
keras==2.8.0
tensorflow-gpu==2.8.0
tensorflow-docs @ git+https://github.com/tensorflow/docs@9aa08320ebb26befd08ad66515de291b9e2cbcaf
tensorflow-hub==0.12.0
tensorflow-estimator==2.8.0
-e .